<form class="register">
	<h3>Tävlingsregler</h3>
	<div class="info">
		<p><p>Insatsen är 100 kr per person.</p>
		<p>Pengarna sätts in på konto: 443243243 (Nordea), märk betalningen med ditt namn.</p>
		<p>Din tippning samt betalning måste vara inne senast den 11:e juni.</p>
		<p>Endast en tippning per person är tillåten.</p>
		<p>Flest antal rätt efter sista matchen vinner hela potten.</p>
		<p>Lycka till!</p>
	</div>
	<h3>Vad heter du?</h3>
	<input type="text" name="name" id="input-name" class="name">

	<h3>Och den rätta raden?</h3>

	<table class="schedule" cellspacing="0">
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th class="outcome">1</th>
			<th class="outcome">X</th>
			<th class="outcome">2</th>

		</tr>
		<% for(var key in games) { %>

		<% var game = games[key] %>

		<tr>
			<td class="date"><%= game[0].getDate() %>:<%= game[0].getDate() == 21 || game[0].getDate() == 22 ? 'a' : 'e' %> juni</td>
			<td class="team left"><%= game[1] %></td>
			<td class="vs">–</td>
			<td class="team right"><%= game[2] %></td>
			<td class="outcome">
				<input type="radio" name="outcome-<%= key %>" value="1">
			</td>
			<td class="outcome">
				<input type="radio" name="outcome-<%= key %>" value="X">
			</td>
			<td class="outcome">
				<input type="radio" name="outcome-<%= key %>" value="2">
			</td>
		</tr>

		<% } %>
	</table>

	<p>
		<input type="checkbox" name="accept" value="accept" class="checkbox" id="accept"> <label for="accept">Jag är säker på att uppgifterna stämmer</label>
	</p>
	<p class="center">
		<input type="submit" value="Skicka" class="submit">
	</p>
</form>