<div class="scores-wrap">
	<table class="scores" cellspacing="0">

		<tr>
			<th class="date">Datum</th>
			<th class="game" colspan="3">Match</th>
			<th class="outcome">Resultat</th>

			<% for(var key in users) { %>
			<th class="user">
				<% var user = users[key]; %>
				<%= user.name.split(' ')[0] %>
			</th>
			<% } %>

		</tr>
		<tr>
		<td colspan="5" class="outcome"></td>
		<% for(var key in users) { %>
		<th class="user user-score">
			<% var user = users[key]; %>
			<%= user.score %>
		</th>
		<% } %>
		</tr>
		<% for(var key in games) { %>
		<% var game = games[key] %>
		<tr<% if(!game[3]) { %> class="no-result"<% } %>>
			<td class="date"><nobr><%= game[0].getDate() %>/6</nobr></td>
			<td class="team left">
				<%= game[1]%>
			</td>
			<td class="separator"> - </td>
			<td class="team right">
				<%= game[2]%>
			</td>
			<td class="outcome"><%= game[3] ? game[3].toUpperCase() : '' %></td>

			<% for(var userI in users) { %>
			<% var user = users[userI]; %>
			<td class="prediction <%= !game[3] ? '' : user.predictions[key].outcome == game[3] ? 'correct' : 'incorrect' %>">
				<%= user.predictions[key].outcome.toUpperCase() %>
			</td>
			<% } %>
		</tr>
		<% } %>

	</table>
</div>